* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: sans-serif;
    background: #f6e6e6;
  }
  
  .header {
    text-align: center;
    text-transform: uppercase;
    padding: 32px;
    background-color: #230a0a;
    color: #fff;
    border-bottom: 4px solid #fdb347;
  }
  
  .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
  }
  
  .gallery img {
    width: 100%;
    max-width: 250px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    
  }

  img:hover{
    transform: scale(1.1);
  }

  img{
    transition: opacity 1s ease-out;
  }
  
  .gallery::after {
    content: "";
    width: 350px;
  }
  
footer{
    border-top:4px solid #fdb347;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #230a0a;
    color: #fff;
    min-height: 100px;
    text-align: center;
    font-size: 1.2em;
}
a{
    color: #f5f6f7;
    font-style: italic;
}
a:hover{
    color: #fdb347;
}
